.ui-layout-pane { /* all 'panes' */
  padding: 10px;
  background: #FFF;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
}
.ui-layout-pane-north ,
.ui-layout-pane-south {
    border: 1px solid #BBB;
}
.ui-layout-pane-west {
    border-left: 1px solid #BBB;
}
.ui-layout-pane-east {
    border-right: 1px solid #BBB;
}
.ui-layout-pane-center {
    border-left: 0;
    border-right: 0;
}
.inner-center {
    border: 1px solid #BBB;
}

.outer-west ,
.outer-east {
    background-color: #EEE;
}
.middle-west ,
.middle-east {
    background-color: #F8F8F8;
}

.ui-layout-resizer { /* all 'resizer-bars' */
    background: #DDD;
}
.ui-layout-resizer:hover { /* all 'resizer-bars' */
    background: #FED;
}
.ui-layout-resizer-west {
    border-left: 1px solid #BBB;
}
.ui-layout-resizer-east {
    border-right: 1px solid #BBB;
}

.ui-layout-toggler { /* all 'toggler-buttons' */
    background: #AAA;
}
.ui-layout-toggler:hover { /* all 'toggler-buttons' */
    background: #FC3;
}

.outer-center ,
.middle-center {
    /* center pane that are 'containers' for a nested layout */
    padding: 0;
    border: 0;
}


#panels div{
    background-color: lightgray;
    height: 90%;
}

.offset, .hex, .text {
    contain: content;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    vertical-align: top;
}
.clusterize-content div{
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    text-align: right;
    font-family: "Courier New", Consolas, Menlo, "PT Mono", "Liberation Mono", monospace;
    font-size: 14.5px;
    font-variant: normal;
    line-height: 20px;
    width: 100px;
    height: 20px;
}
.hex{
    background-color: blue;
    width: 200px;
}

span{
    font-family: "Courier New", Consolas, Menlo, "PT Mono", "Liberation Mono", monospace;
}

.td_offset span,  .hex_byte, th span{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-inline-start: 4px;
    padding-inline-end: 5px;
}

.text_byte{
    padding: 1px 0;
}
.text{
    background-color: green;
    width: 300px;
}



span {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

span.selected_cell{
    background-color: #003eff;
    color: white;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

span.hex_byte.active, td.td_offset.active span, span.text_byte.active, th span.active
{
    background-color: rgba(26, 13, 3, 0.26)
}

th span{
    text-decoration-style: unset !important;
    font-weight: normal;
}

span.text_byte{
    display: inline-block;
    width: 10px;
}
