.ui-layout-pane { /* all 'panes' */
  padding: 10px;
  background: #FFF;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
}
.ui-layout-pane-north ,
.ui-layout-pane-south {
    border: 1px solid #BBB;
}
.ui-layout-pane-west {
    border-left: 1px solid #BBB;
}
.ui-layout-pane-east {
    border-right: 1px solid #BBB;
}
.ui-layout-pane-center {
    border-left: 0;
    border-right: 0;
}
.inner-center {
    border: 1px solid #BBB;
}

.outer-west ,
.outer-east {
    background-color: white;
}
.middle-west ,
.middle-east {
    background-color: #F8F8F8;
}

.ui-layout-resizer { /* all 'resizer-bars' */
    background: #DDD;
}
.ui-layout-resizer:hover { /* all 'resizer-bars' */
    background: #FED;
}
.ui-layout-resizer-west {
    border-left: 1px solid #BBB;
}
.ui-layout-resizer-east {
    border-right: 1px solid #BBB;
}

.ui-layout-toggler { /* all 'toggler-buttons' */
    background: #AAA;
}
.ui-layout-toggler:hover { /* all 'toggler-buttons' */
    background: #FC3;
}

.editor_layout
{
    height: 100%;
    width: 100%;
}

.outer-center ,
.middle-center {
    /* center pane that are 'containers' for a nested layout */
    padding: 0;
    border: 0;
}

#panels{
    height: calc(100% - 45px);
    background-color: #e9e9e9;
    display: flex;
}

.hexeditor_panel{
    width: 100%;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.editor_layout,.editor_layout div.ui-layout-resizer-south, .editor_layout div.outer-center{
     width: 100% !important;

}

.editor_layout div.outer-south{
    width: calc(100% - 23px) !important;
    overflow-y: auto;

}

.editor_layout .ui-layout-toggler-south{
    left: calc(100% / 2) !important;
}

.editor_layout div.outer-center
{
    background-color: #e9e9e9;
}

#panels div.tableWrapper{
    background-color: lightgray;
    height: calc(100% - 97px);
    margin-top: 0px;
}



.offset, .hex, .text {
    contain: content;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    vertical-align: top;
}
.clusterize-content div{
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    text-align: right;
    font-family: "Courier New", Consolas, Menlo, "PT Mono", "Liberation Mono", monospace;
    font-size: 14.5px;
    font-variant: normal;
    line-height: 20px;
    width: 100px;
    height: 20px;
}
.hex{
    background-color: blue;
    width: 200px;
}

span{
    font-family: "Courier New", Consolas, Menlo, "PT Mono", "Liberation Mono", monospace;
}

.td_offset span,  .hex_byte, th span{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-inline-start: 4px;
    padding-inline-end: 5px;
}

.text_byte{
    padding: 1px 0;
}
.text{
    background-color: green;
    width: 300px;
}



span {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

span.selected_cell{
    background-color: #003eff;
    color: white;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

span.hex_byte.active, td.td_offset.active span, span.text_byte.active, th span.active
{
    background-color: rgba(26, 13, 3, 0.26)
}

th span{
    text-decoration-style: unset !important;
    font-weight: normal;
}

span.text_byte{
    display: inline-block;
    width: 10px;
}

.tableWrapper{
    height: 100%
}

/* css spinner */
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin:0 auto;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: initial;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

#yara_panel{
    padding: 10px;
    background: #e9e9e9;
    height: calc(100% - 20px);
    word-wrap: break-word;
    width: calc(100% - 20px);
    overflow-y:auto;

}


#yara_panel ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#yara_panel ul li{
    display: flex;
    flex-direction: row;
    padding: 4px 12px;
    font-family: Helvetica, Arial;
}

#yara_panel li span.name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 30px);
    user-select: none;
}

#yara_panel li:hover{
    background-color: lightsteelblue;
}

/* toggle switch */
/* The switch - the box around the slider */
.yara_rules span.toggle{
    margin-left: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}